mixin container-body()
    body(class="text-center d-flex vh-100 vx-100 align-items-center flex-column justify-content-center body-sleepy")
        block

mixin container-box()
    div(class="container shadow p-0 my-4 main-container bg-white")
        block