meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="stylesheet", href="/res/css/normalize.css")
link(rel="stylesheet", href="/res/css/skeleton.css")
link(rel="stylesheet", href="/res/css/custom.css")
link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")