include mixins/tab.pug
include mixins/container.pug
include mixins/heading.pug

doctype html
html
  head
    include includes/head.pug
    title Gate controller
  body
    div.container.text-center.mt
        form(method="get" action="token" id="form")
            h3.u-full-width Error
            div.row
                p #{error}
            div.row
              input(type="hidden" name="token" value=tokenId)
              button(type="submit") Back
    include includes/foot.pug